
                    <p class="text-small text-muted text-center pad-t-md">
                        Copyright &copy; 2022 <!-- COPYRIGHTYEAR --> by Andrew Marcuse. All Rights Reserved.<br/>
                        <!--LATER: privacy, terms -->
                        <a href="https://github.com/fileformat/simpleshare/blob/master/LICENSE.txt">License</a>
                        | <a href="/contact.html">Contact</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
